/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@include font-face("Pacifico", font-files("pacifico-fontfacekit.woff", woff, "pacifico-fontfacekit.otf", opentype), "pacifico-fontfacekit.eot");  

$black:#222;
$lessblack:#333;
$lesserblack:#444;
$darkblue:#06A2CB;
$blue:#52ADDA;
$lessblue:#68B8DF;
$grey:#C9C9C9;
$lessgrey:#DBDBDB;
$white:#fafafa;
$dark: #282828;
$pink: #fc2161;
$pink-d: darken($pink, 15%);
$green: #77BD42;
$green-d: darken($green, 15%);
$yellow: #ffb809;
$lightyellow: #ffffe0;
$orange: #df4a1f;

/***** Mixins ******/

@mixin breakpoint($point) {
  @if $point == small {
    @media  only screen
            and (max-width: 600px)  {@content;}
  }
  @else if $point == medium {
    @media only screen
            and (max-width: 820px) { @content; }
  }
  @else if $point == larger {
    @media only screen
            and (max-width: 1100px)  { @content; }
  }
}

/***** Mixins Over******/

.container {
    width:100%;
    height:100%;
    background-color:black;
}
    .navigation{
    padding:0;
    background-color:transparent;
    position:fixed;
    top:0;
    z-index:1000;
    
    
    li{
    display:inline-block;
    padding: 5px 10px;
        a{
        color: #e1e1e1;
        text-decoration:none;

            &:hover{
            color: lighten(#e1e1e1, 20%);
            }
        }

    }
    .active{
    background-color: lighten(#333, 20%);
    }
}



/******* Sass Begins *******/

.slide {
    border-bottom:1px dashed $white;
    background-attachment:fixed;
    position:relative;
    height: 100%;
    width:100%;  
    background-color:black;
}

#slide1 {
    height:100%;
    width:100%;
     background: url("image/particle1.jpg");
     background-size:100% 100%;
}  
    .image6 {
        height: 100%;
        width: 100%;
        background: url(image/punched1.png) no-repeat transparent;
        background-size: 100% 100%;
    }



#slide2 {
    background: url("image/paint1.jpg") repeat;
    background-size:210%;
    background-size:cover;
    z-index:9;
    @include breakpoint(small) {background-size:100% 100%; background-repeat: repeat;}
    @include breakpoint(medium) {background-size:100% 100%; background-repeat: repeat;}
    
}
     .wording {
    font-family:'Calligraffitti';
    color:$white;
    font-size:1.8rem;
    font-weight:600;
    text-align:center;
    padding-top:0rem;
    z-index:1000;
     @include breakpoint(small) {font-size:1.5rem; font-weight:200; padding-top:-2rem;}
    @include breakpoint(medium) {font-size:1.5rem; font-weight:400; padding-top:-2rem;}
    
    }
    

    .triangle-up { 
    margin-left:6rem;
    border-bottom: 150px solid black;
    border-left: 550px solid transparent; 
    border-right: 550px solid transparent; 
    height: 0;
    width: 100px;
    opacity:0.5;
    z-index:-1000;
    @include breakpoint(small) { border-left: 200px solid transparent; border-right: 200px solid transparent; }
    @include breakpoint(medium) {border-left: 250px solid transparent; border-right: 250px solid transparent; }
    }
     
    .triangle-down { 
    width: 0;
    height: 0; 
    border-left: 550px solid transparent;
    border-right: 550px solid transparent; 
    border-top: 150px solid black; 
    margin-left:6rem;
    opacity:0.5;
    z-index:-1000;
    @include breakpoint(small) { border-left: 200px solid transparent; border-right: 200px solid transparent; }
    @include breakpoint(medium) {border-left: 250px solid transparent; border-right: 250px solid transparent; }
    } 

    .rectangle { 
    width: 1100px; 
    height: 373px;
    background: black; 
    margin-left:6rem;
    opacity:0.5;
    @include breakpoint(small) { width: 500px; height: 300px;}
    @include breakpoint(medium) { width: 500px; height: 300px;}
    } 




#slide3 {
    background: url("image/particle.jpg") no-repeat;
    background-size: 100% 100%;
    background-size:cover;
}
     .rectangle1 { 
    width: 100%; 
    height: 100%;
    background: black;
     opacity:0.7;
     } 

     .circle-item {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    background: $yellow;
    box-shadow: inset 0 0 30px 10px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
    @include transition (all 0.4s ease-in-out);
 
    }

    
    .circle-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;
    @include transition (all 0.4s ease-in-out);
    -webkit-transform: scale();
    -moz-transform: scale();
    -ms-transform: scale();
    -o-transform: scale();
    transform: scale();
    -webkit-backface-visibility: hidden;
    }

    .circle-info h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    }

    .circle-info h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    }

    .circle-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    @include transition (all 1s ease-in-out 0.4s);
    }

    .circle-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
    }

    .circle-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
    }

    .circle-item:hover { box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1) }

    .circle-item:hover .circle-info {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    }

    .circle-item:hover .circle-info p { opacity: 1 }

    .circle-grid {
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: auto;
    float:left;
    white-space: nowrap;
    }

    .circle-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 45px;
    margin-top:200px;
    float :left;
    }
    
    .circle-grid-text {
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    width: auto;
    color:white;
    font-size:25px;
    float:left;
     white-space: nowrap;
    }

    .circle-grid-text li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 0px 45px 40px;
    float:left;
    }

    .circle-grid:after,
    .circle-item:before {
    content: '';
    display: table;
    }

    .circle-grid:after { clear: both }


    .circle-img1 {
    background-image: url(image/rahat.jpg);
    background-size: 240px 240px;
    }
    .circle-img2 {
    background-image: url(image/abida.jpg);
    background-size: 240px 260px;
    }

    .circle-img3 {
    background-image: url(image/rehman.jpg);
    background-size: 240px 240px;
    }

    .circle-img4 {
    background-image: url(image/kavita.jpg);
    background-size: 240px 260px;
    }

    * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }    



  


#slide4 {
    height:100%;
    width:100%;
     background: url("image/particle.jpg") no-repeat;
     background-size:100% 100%;
}

#slide5 {
    
    background: black;
    background-size:cover;
}


/******************************************slider.html contents************************************/


section {
    width: 1290px;
  height: 800px;
  overflow: hidden;

}

ul {
    display: block;
  height: 800px;
    padding: 0;

}

li {
  float: left;
  display: inline;
}

.bold {
    color: black;
    font-weight:600;

}

 .image1 {
        height: 800px;
        width: 1290px;
        background: url(image/1.jpg) no-repeat transparent;
        background-size: 1290px 800px;
        opacity:0.8;
    }

    .image2 {
        height: 800px;
        width: 1290px;
        background: url(image/6.jpg) no-repeat transparent;
        background-size: 1290px 800px;      
    }

    .image3 {
        height: 800px;
        width: 1290px;
        background: url(image/3.jpg) no-repeat transparent;
        background-size: 1290px 800px;      
    }

    .image4 {
        height: 800px;
        width: 1290px;
        background: url(image/7.jpg) no-repeat transparent;
        background-size: 1290px 800px;      
    }

    .image5 {
        height: 800px;
        width: 1290px;
        background: url(image/11.jpg) no-repeat transparent;
        background-size: 1290px 800px;      
    }

.wording1 {
    font-family:'Calligraffitti';
    color:$white;
    font-size:2.5rem;
    text-align:center;
    padding-top:6rem;
    }


/*************************************slider content over***********************************/

 .hexagon {
    width: 100px; 
    height: 55px; 
    background: red;
    position: relative;
    z-index:1000;
     }
    .hexagon:before { 
    content: ""; 
    position: absolute; 
    top: -25px; 
    left: 0; 
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    border-bottom: 25px solid red; 
    }

    .hexagon:after { 
    content: ""; 
    position: absolute; 
    bottom: -25px;
     left: 0; 
    width: 0;
     height: 0; 
     border-left: 50px solid transparent; 
     border-right: 50px solid transparent; 
     border-top: 25px solid red; 
     }

/********************************************Parallax Content******************************************************/


.button{
    display:block;
    width:50px;
    height:50px;
    position:absolute;
    bottom:25px;
    left:50%;
    margin-left:-25px;
    background: url("image/blackarrow.png") no-repeat;
    background-size:50px 50px;
    z-index:1100;
}