/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Pacifico";
  src: url('/stylesheets/fonts/pacifico-fontfacekit.eot');
  src: url('/stylesheets/fonts/pacifico-fontfacekit.eot?#iefix') format('embedded-opentype'), url('/stylesheets/fonts/pacifico-fontfacekit.woff') format('woff'), url('/stylesheets/fonts/pacifico-fontfacekit.otf') format('opentype');
}

/***** Mixins ******/
/***** Mixins Over******/
/* line 47, ../sass/screen.scss */
.container {
  width: 100%;
  height: 100%;
}

/******* Sass Begins *******/
/* line 56, ../sass/screen.scss */
.slide, .slide1, .slide2, .slide3, .slide4, .slide5 {
  border-bottom: 1px dashed #fafafa;
}

/* line 61, ../sass/screen.scss */
.slide1 {
  height: 100%;
  width: 100%;
  opacity: 0.95;
  overflow: hidden;
  z-index: -1000;
  position: absolute;
  background: black;
}
@media only screen and (max-width: 600px) {
  /* line 61, ../sass/screen.scss */
  .slide1 {
    background: url("image/55.jpg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 820px) {
  /* line 61, ../sass/screen.scss */
  .slide1 {
    background: url("image/55.jpg") no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
  }
}
/* line 72, ../sass/screen.scss */
.slide1 .video {
  z-index: -1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
  overflow-y: hidden;
  opacity: 0.45;
}
@media only screen and (max-width: 820px) {
  /* line 72, ../sass/screen.scss */
  .slide1 .video {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* line 72, ../sass/screen.scss */
  .slide1 .video {
    display: none;
  }
}
/* line 86, ../sass/screen.scss */
.slide1 .text {
  color: #fafafa;
  text-align: center;
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 600;
  font-size: 10rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 820px) {
  /* line 86, ../sass/screen.scss */
  .slide1 .text {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  /* line 86, ../sass/screen.scss */
  .slide1 .text {
    font-size: 4.5rem;
  }
}

/* line 100, ../sass/screen.scss */
.slide2 {
  height: 100%;
  width: 100%;
}

/* line 109, ../sass/screen.scss */
.slide3 {
  height: 100%;
  width: 100%;
  background: black;
}
/* line 115, ../sass/screen.scss */
.slide3 .wording {
  font-family: 'Calligraffitti';
  color: #fafafa;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem;
}

/* line 123, ../sass/screen.scss */
.back-img {
  background: url("image/map.jpg") no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}

/* line 131, ../sass/screen.scss */
.slide4 {
  height: 100%;
  width: 100%;
  background-color: black;
}

/**************************************Text Transition***************************/
/* line 139, ../sass/screen.scss */
.os-phrases h2 {
  font-family: 'Dosis', 'Lato', sans-serif;
  font-size: 70px;
  font-weight: 200;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 14px;
  text-align: center;
}

/* line 156, ../sass/screen.scss */
.os-phrases h2,
.os-phrases h2 > span {
  height: 100%;
  /* Centering with flexbox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* line 165, ../sass/screen.scss */
.os-phrases h2 > span {
  margin: 0 15px;
}

/* line 169, ../sass/screen.scss */
.os-phrases h2 > span > span {
  display: inline-block;
  perspective: 1000px;
  transform-origin: 50% 50%;
}

/* line 175, ../sass/screen.scss */
.os-phrases h2 > span > span > span {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  animation: OpeningSequence 5.2s linear forwards;
}

/* line 183, ../sass/screen.scss */
.os-phrases h2:nth-child(2) > span > span > span {
  animation-delay: 5s;
}

/* line 187, ../sass/screen.scss */
.os-phrases h2:nth-child(3) > span > span > span {
  animation-delay: 10s;
}

/* line 191, ../sass/screen.scss */
.os-phrases h2:nth-child(4) > span > span > span {
  animation-delay: 15s;
}

/* line 195, ../sass/screen.scss */
.os-phrases h2:nth-child(5) > span > span > span {
  font-size: 150px;
  animation-delay: 21s;
  animation-duration: 8s;
}

/* line 201, ../sass/screen.scss */
.os-phrases h2:nth-child(6) > span > span > span {
  animation-delay: 30s;
}

/* line 205, ../sass/screen.scss */
.os-phrases h2:nth-child(7) > span > span > span {
  animation-delay: 34s;
}

@keyframes OpeningSequence {
  /* line 212, ../sass/screen.scss */
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0.2;
    transform: rotateY(-90deg);
  }

  /* line 218, ../sass/screen.scss */
  50% {
    text-shadow: 0 0 1px #fff;
    letter-spacing: 14px;
    opacity: 0.8;
    transform: rotateY(0deg);
  }

  /* line 224, ../sass/screen.scss */
  85% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    transform: rotateY(0deg) translateZ(100px);
  }

  /* line 229, ../sass/screen.scss */
  100% {
    text-shadow: 0 0 10px #fff;
    opacity: 0;
    transform: translateZ(130px);
    pointer-events: none;
  }
}

/* line 237, ../sass/screen.scss */
.os-phrases h2:nth-child(8) > span > span > span {
  font-size: 30px;
  animation: FadeIn 4s linear 40s forwards;
}

@keyframes FadeIn {
  /* line 244, ../sass/screen.scss */
  0% {
    opacity: 0;
    text-shadow: 0 0 50px #fff;
  }

  /* line 248, ../sass/screen.scss */
  100% {
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
  }
}

/* Bold words */
/* line 257, ../sass/screen.scss */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
  font-weight: 600;
}

/**************************************Text Transition over****************************************/
/* line 264, ../sass/screen.scss */
.slide5 {
  height: 100%;
  width: 100%;
  background: black;
}

/******************************************slider slide contents************************************/
/* line 275, ../sass/screen.scss */
section {
  width: 1290px;
  height: 800px;
  overflow: hidden;
}

/* line 282, ../sass/screen.scss */
ul {
  display: block;
  height: 800px;
  padding: 0;
}

/* line 289, ../sass/screen.scss */
li {
  float: left;
  display: inline;
}

/* line 294, ../sass/screen.scss */
.bold {
  color: black;
  font-weight: 600;
}

/* line 300, ../sass/screen.scss */
.image1 {
  height: 800px;
  width: 1290px;
  background: url(image/1.jpg) no-repeat transparent;
  background-size: 1290px 800px;
  opacity: 0.8;
}

/* line 308, ../sass/screen.scss */
.image2 {
  height: 800px;
  width: 1290px;
  background: url(image/6.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 315, ../sass/screen.scss */
.image3 {
  height: 800px;
  width: 1290px;
  background: url(image/3.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 322, ../sass/screen.scss */
.image4 {
  height: 800px;
  width: 1290px;
  background: url(image/7.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 329, ../sass/screen.scss */
.image5 {
  height: 800px;
  width: 1290px;
  background: url(image/11.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 336, ../sass/screen.scss */
.wording1 {
  font-family: 'Calligraffitti';
  color: #fafafa;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem;
}

/*************************************slider content over***********************************/
/* line 349, ../sass/screen.scss */
body {
  background-color: #000000;
}

/* line 353, ../sass/screen.scss */
.scrollBg {
  background-image: url("image/1.jpg");
  background-color: #000000;
  width: 100%;
  height: 100%;
}

/* line 360, ../sass/screen.scss */
.scrollBg img {
  display: block;
}
