/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../lib/gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Pacifico";
  src: url('/stylesheets/fonts/pacifico-fontfacekit.eot');
  src: url('/stylesheets/fonts/pacifico-fontfacekit.eot?#iefix') format('embedded-opentype'), url('/stylesheets/fonts/pacifico-fontfacekit.woff') format('woff'), url('/stylesheets/fonts/pacifico-fontfacekit.otf') format('opentype');
}

/***** Mixins ******/
/***** Mixins Over******/
/* line 47, ../sass/screen.scss */
.container {
  width: 100%;
  height: 100%;
}

/******* Sass Begins *******/
/* line 56, ../sass/screen.scss */
.slide, .slide1, .slide2, .slide3, .slide4, .slide5 {
  border-bottom: 1px dashed #fafafa;
}

/* line 61, ../sass/screen.scss */
.slide1 {
  height: 100%;
  width: 100%;
  background: url("image/particle1.jpg");
}
/* line 68, ../sass/screen.scss */
.slide1 .image6 {
  height: 100%;
  width: 100%;
  background: url(image/punched1.png) no-repeat transparent;
  background-size: 100% 100%;
}

/* line 77, ../sass/screen.scss */
.slide2 {
  height: 100%;
  width: 100%;
  background: url("image/paint1.jpg") repeat;
  background-size: 210%;
}
/* line 85, ../sass/screen.scss */
.slide2 .wording {
  font-family: 'Calligraffitti';
  color: #fafafa;
  font-size: 2rem;
  text-align: center;
  padding-top: 0rem;
}
/* line 93, ../sass/screen.scss */
.slide2 .triangle-up {
  margin-left: 6rem;
  border-bottom: 150px solid black;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  height: 0;
  width: 100px;
  opacity: 0.5;
}
/* line 102, ../sass/screen.scss */
.slide2 .triangle-down {
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  border-top: 150px solid black;
  margin-left: 6rem;
  opacity: 0.5;
}
/* line 111, ../sass/screen.scss */
.slide2 .rectangle {
  width: 1100px;
  height: 373px;
  background: black;
  margin-left: 6rem;
  opacity: 0.5;
}

/* line 122, ../sass/screen.scss */
.slide3 {
  height: 100%;
  width: 100%;
  background: url("image/particle.jpg") no-repeat;
  background-size: 100% 100%;
}
/* line 129, ../sass/screen.scss */
.slide3 .circle-item {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  cursor: default;
  background: #ffb809;
  box-shadow: inset 0 0 30px 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 142, ../sass/screen.scss */
.slide3 .circle-info {
  position: absolute;
  background: rgba(63, 147, 147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
  transform: scale();
  -webkit-backface-visibility: hidden;
}
/* line 158, ../sass/screen.scss */
.slide3 .circle-info h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 30px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 170, ../sass/screen.scss */
.slide3 .circle-info h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0 30px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 182, ../sass/screen.scss */
.slide3 .circle-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
/* line 193, ../sass/screen.scss */
.slide3 .circle-info p a {
  display: block;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}
/* line 206, ../sass/screen.scss */
.slide3 .circle-info p a:hover {
  color: #fff222;
  color: rgba(255, 242, 34, 0.8);
}
/* line 211, ../sass/screen.scss */
.slide3 .circle-item:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 213, ../sass/screen.scss */
.slide3 .circle-item:hover .circle-info {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 222, ../sass/screen.scss */
.slide3 .circle-item:hover .circle-info p {
  opacity: 1;
}
/* line 224, ../sass/screen.scss */
.slide3 .circle-grid {
  margin: 0px 0px 0px 0px;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: auto;
  float: left;
  white-space: nowrap;
}
/* line 235, ../sass/screen.scss */
.slide3 .circle-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 45px;
  margin-top: 200px;
  float: left;
}
/* line 244, ../sass/screen.scss */
.slide3 .circle-grid-text {
  margin: 0px 0px 0px 0px;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  width: auto;
  color: white;
  font-size: 25px;
  float: left;
  white-space: nowrap;
}
/* line 257, ../sass/screen.scss */
.slide3 .circle-grid-text li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 0px 45px 40px;
  float: left;
}
/* line 266, ../sass/screen.scss */
.slide3 .circle-grid:after,
.slide3 .circle-item:before {
  content: '';
  display: table;
}
/* line 271, ../sass/screen.scss */
.slide3 .circle-grid:after {
  clear: both;
}
/* line 274, ../sass/screen.scss */
.slide3 .circle-img1 {
  background-image: url(image/rahat.jpg);
  background-size: 240px 240px;
}
/* line 278, ../sass/screen.scss */
.slide3 .circle-img2 {
  background-image: url(image/abida.jpg);
  background-size: 240px 260px;
}
/* line 283, ../sass/screen.scss */
.slide3 .circle-img3 {
  background-image: url(image/rehman.jpg);
  background-size: 240px 240px;
}
/* line 288, ../sass/screen.scss */
.slide3 .circle-img4 {
  background-image: url(image/kavita.jpg);
  background-size: 240px 260px;
}
/* line 293, ../sass/screen.scss */
.slide3 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 304, ../sass/screen.scss */
.slide4 {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* line 313, ../sass/screen.scss */
.slide5 {
  height: 100%;
  width: 100%;
  background: black;
}
/* line 319, ../sass/screen.scss */
.slide5 .o {
  float: left;
  overflow: hidden;
  position: relative;
  padding: 5%;
}
/* line 325, ../sass/screen.scss */
.slide5 .o:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  background: linear-gradient(#1e90ff, #000000);
  content: '';
}

/******************************************slider slide contents************************************/
/* line 338, ../sass/screen.scss */
section {
  width: 1290px;
  height: 800px;
  overflow: hidden;
}

/* line 345, ../sass/screen.scss */
ul {
  display: block;
  height: 800px;
  padding: 0;
}

/* line 352, ../sass/screen.scss */
li {
  float: left;
  display: inline;
}

/* line 357, ../sass/screen.scss */
.bold {
  color: black;
  font-weight: 600;
}

/* line 363, ../sass/screen.scss */
.image1 {
  height: 800px;
  width: 1290px;
  background: url(image/1.jpg) no-repeat transparent;
  background-size: 1290px 800px;
  opacity: 0.8;
}

/* line 371, ../sass/screen.scss */
.image2 {
  height: 800px;
  width: 1290px;
  background: url(image/6.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 378, ../sass/screen.scss */
.image3 {
  height: 800px;
  width: 1290px;
  background: url(image/3.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 385, ../sass/screen.scss */
.image4 {
  height: 800px;
  width: 1290px;
  background: url(image/7.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 392, ../sass/screen.scss */
.image5 {
  height: 800px;
  width: 1290px;
  background: url(image/11.jpg) no-repeat transparent;
  background-size: 1290px 800px;
}

/* line 399, ../sass/screen.scss */
.wording1 {
  font-family: 'Calligraffitti';
  color: #fafafa;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem;
}

/*************************************slider content over***********************************/
/* line 410, ../sass/screen.scss */
.hexagon {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
  z-index: 1000;
}

/* line 417, ../sass/screen.scss */
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}

/* line 429, ../sass/screen.scss */
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}
